<%- include('partials/header')  %>

<div class="container">
    <br>
    <h2 class="text-center">Booking Form</h2>
    <br>
    <form action="/bookform" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Borrower</label>
            <select class="form-control" id="exampleFormControlSelect1" name="UserId">
                <% user.forEach(user =>{ %>
                <option value="<%=user.id%>"><%= user.first_name + ' '+ user.last_name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Room Name</label>
            <select class="form-control" id="exampleFormControlSelect1" name="RoomId">
                <% room.forEach(room =>{ %>
                <option value="<%=room.id%> "> <%= room.name %> </option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date</label>
            <input type="number" class="form-control" name="date">
            <small id="emailHelp" class="form-text text-muted">Room will be used in this date.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('partials/footer')  %>