<%- include('partials/header')  %>

<div class="container">
    <br>
    <form action="/user/<%=data.id%>/edit" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="first_name" value="<%=data.first_name%>">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="last_name" value="<%=data.last_name%>">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="phone_number" value="<%=data.phone_number%>">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="<%=data.email%>">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio1" value="Male" name="gender" <%= data.gender == 'Male' ? 'checked' : '' %>>
            <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2" value="Female" name="gender" <%= data.gender == 'Female' ? 'checked' : '' %>>
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Save</button> &nbsp; <a class="btn btn-secondary" href="/user/<%= data.id %>"
            role="button">Back</a>
    </form>
</div>

<%- include('partials/footer')  %>